<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>

    <title><%= string.about_title %></title>
    <script>
		$(document).ready(() => {

		})
    </script>
</head>

<body>

<%- include('header'); -%>
<h1><%= string.about_title %></h1>
<%- include('footer'); -%>
</body>
</html>
