<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>
    <title><%= string.api_title %></title>
    <link rel='stylesheet' href='/stylesheets/api.css'/>
</head>
<body>

<%- include('header'); -%>

<div>
    <section class="api_description">
        <div class="mdc-typography--headline3">API Center</div>
    </section>
    <section class="api_description">
        <div class="mdc-typography--headline4"><%= string.api_sign %></div>
        <div class="mdc-typography--headline5"><%= string.api_sign_in %></div>
        <p class="mdc-typography--body1">
            POST: auth/signin
            <br>
            params: email, pw
            <br>
            return: {"result": boolean}
        </p>
        <div class="mdc-typography--headline5"><%= string.api_sign_up_check %></div>
        <p class="mdc-typography--body1">
            POST: auth/signup/check
            <br>
            params: email
            <br>
            return: {"result": boolean}
        </p>
        <div class="mdc-typography--headline5"><%= string.api_sign_up_basic %></div>
        <p class="mdc-typography--body1">
            POST: auth/signup
            <br>
            params: email, pw, name, phone, year, month, day
            <br>
            return: {"result": boolean}
        </p>
        <div class="mdc-typography--headline5"><%= string.api_sign_up_info %></div>
        <p class="mdc-typography--body1">
            POST: auth/signup/info
            <br>
            params: gender, height, weight, topSize, bottomSize, style, shoulder, waist, hip, thigh
            <br>
            return: {"result": boolean}
        </p>
        <p class="mdc-typography--body1">
            POST: auth/signup/address
            <br>
            params: address, addressDetail
            <br>
            return: {"result": boolean}
        </p>
        <p class="mdc-typography--body1">
            POST: auth/signup/password
            <br>
            params: password
            <br>
            return: {"result": boolean}
        </p>

        <div class="mdc-typography--headline5"><%= string.api_user %></div>
        <p class="mdc-typography--body1">
            POST: auth/user
            <br>
            params:
            <br>
            return: user
        </p>
    </section>
    <section class="api_description">
        <div class="mdc-typography--headline4"><%= string.api_weather %></div>
        <p class="mdc-typography--body1">
            POST: api/weather
            <br>
            params: latitude, longitude
            <br>
            return: {"pop": int, "form": int, "sky": int, "tem": float, "max": float, "min": float}
            <br>
            * (
            "form": 0(undefined), 1(rain), 2(rain_snow), 3(snow), 4(rain_shower), 5(rain_light), 6(rain_snow_light),
            7(snow_light),
            "sky": 1(clear), 3(partly_cloudy), 4(cloudy)
            )
        </p>
    </section>
    <section class="api_description">
        <div class="mdc-typography--headline4"><%= string.api_product %></div>
        <div class="mdc-typography--headline5"><%= string.api_product_image %></div>
        <p class="mdc-typography--body1">
            GET: product/image/:imageID
            <br>
            params:
            <br>
            return: image file
        </p>
        <div class="mdc-typography--headline5"><%= string.api_product_list %></div>
        <p class="mdc-typography--body1">
            POST: product/list
            <br>
            params: search, type, detail, gender, color, fit, season, fiber, age, style, priceMin, priceMax
            <br>
            return: [{result: boolean}] | list
        </p>
        <div class="mdc-typography--headline5"><%= string.api_product_list_page %></div>
        <p class="mdc-typography--body1">
            POST: product/list/:page
            <br>
            params: search, type, detail, gender, color, fit, season, fiber, age, style, priceMin, priceMax
            <br>
            return: [{result: boolean}] | list
        </p>
        <div class="mdc-typography--headline5"><%= string.api_product %></div>
        <p class="mdc-typography--body1">
            GET: product/:id
            <br>
            params:
            <br>
            return: {result: boolean} | product
        </p>
        <div class="mdc-typography--headline5"><%= string.api_product_toptrend %></div>
        <p class="mdc-typography--body1">
            GET: home/toptrends/:number
            <br>
            params:
            <br>
            return: {result: boolean} | list
        </p>

        <div class="mdc-typography--headline5"><%= string.api_product_favorite %></div>
        <p class="mdc-typography--body1">
            GET: product/favorite/:productID
            <br>
            params:
            <br>
            return: {result: boolean}
        </p>
        <div class="mdc-typography--headline5"><%= string.api_product_unfavorite %></div>
        <p class="mdc-typography--body1">
            GET: product/unfavorite/:productID
            <br>
            params:
            <br>
            return: {result: boolean}
        </p>
        <div class="mdc-typography--headline5"><%= string.api_product_count_favorite %></div>
        <p class="mdc-typography--body1">
            GET: product/count/favorite/:productID
            <br>
            params:
            <br>
            return: {result: false} | number of user's favorite
        </p>

        <div class="mdc-typography--headline5"><%= string.api_review_add %></div>
        <p class="mdc-typography--body1">
            POST: api/review/add/:productID
            <br>
            params: userEmail, star, contents, image1ID, image2ID, image3ID
            <br>
            return: {result: boolean}
        </p>
        <div class="mdc-typography--headline5"><%= string.api_review_fit %></div>
        <p class="mdc-typography--body1">
            POST: api/review/fit/:productID
            <br>
            params: userEmail, order, isReverse
            <br>
            return: [{result: boolean, error: string}] | list
        </p>
        <div class="mdc-typography--headline5"><%= string.api_review %></div>
        <p class="mdc-typography--body1">
            POST: api/review/:productID
            <br>
            params: order, isReverse
            <br>
            return: [{result: boolean}] | list
        </p>
    </section>

    <section class="api_description">
        <div class="mdc-typography--headline4"><%= string.api_coordination %></div>
        <div class="mdc-typography--headline5"><%= string.api_coordination_image %></div>
        <p class="mdc-typography--body1">
            GET: coordination/image/:imageID
            <br>
            params:
            <br>
            return: image file
        </p>
        <div class="mdc-typography--headline5"><%= string.api_coordination_anything %></div>
        <p class="mdc-typography--body1">
            GET: home/custom/:number
            <br>
            params:
            <br>
            return: [{result: boolean}] | list
        </p>
        <div class="mdc-typography--headline5"><%= string.api_coordination_style %></div>
        <p class="mdc-typography--body1">
            GET: home/style/:styleID/:number
            <br>
            params:
            <br>
            return: [{result: boolean}] | list
        </p>
        <div class="mdc-typography--headline5"><%= string.api_coordination_represent %></div>
        <p class="mdc-typography--body1">
            GET: home/representative/style
            <br>
            params:
            <br>
            return: [{result: boolean}] | list
        </p>
        <div class="mdc-typography--headline5"><%= string.api_coordination %></div>
        <p class="mdc-typography--body1">
            GET: coordination/:id
            <br>
            params:
            <br>
            return: {result: boolean} | coordination
        </p>
        <div class="mdc-typography--headline5"><%= string.api_coordination_favorite %></div>
        <p class="mdc-typography--body1">
            GET: coordination/favorite/:coordinationID
            <br>
            params:
            <br>
            return: {result: boolean}
        </p>
        <div class="mdc-typography--headline5"><%= string.api_coordination_unfavorite %></div>
        <p class="mdc-typography--body1">
            GET: coordination/unfavorite/:coordinationID
            <br>
            params:
            <br>
            return: {result: boolean}
        </p>
    </section>

    <section class="api_description">
        <div class="mdc-typography--headline4"><%= string.api_closet %></div>
        <div class="mdc-typography--headline5"><%= string.api_closet_product %></div>
        <p class="mdc-typography--body1">
            GET: closet/product
            <br>
            params:
            <br>
            return: productID list
        </p>
        <div class="mdc-typography--headline5"><%= string.api_closet_coordination %></div>
        <p class="mdc-typography--body1">
            GET: closet/coordination
            <br>
            params:
            <br>
            return: coordinationID list
        </p>
    </section>
</div>
<%- include('footer'); -%>
</body>
</html>
