<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>
    <%- quill %>
    <script src="/node_modules/ejs/ejs.min.js"></script>

    <title><%= string.article_title_read %> ></title>
    <script>
		$(document).ready(() => {
			const questionField = new Quill('#read_contents', {
				scrollingContainer: '#read_contents_box',
				placeholder: 'contents',
				theme: 'bubble'
			})
			questionField.disable()
			$.post(`/article/read/<%= id %>`, (body) => {
				$(document).attr("title", `${$(document).attr("title")} ${body.title}`)
				$("#read_title").text(body.title)
				questionField.setContents(body.contents)
			})
			$("#update_button").click(() => {
				window.location.href = "/article/create/<%= id %>"
			})
			$("#delete_button").click(() => {
				$.post(`/article/delete/<%= id %>`, (isSuccess) => {
					if (isSuccess)
						window.location.href = "/article"
					else
						alert("<%= string.delete_failed %>")
				})
			})
			$("#back_button").click(() => {
				window.location.href = "/article"
			})
		})
    </script>
</head>

<body>

<%- include('header'); -%>
<section>
    <div class="" id="read_title_box">
        <h1 id="read_title"></h1>
    </div>
    <div class="read-box" id="read_contents_box">
        <article class="contents" id="read_contents"></article>
    </div>
</section>
<section>
    <button class="mdc-button mdc-button--unelevated" id="update_button" type="submit">
        <span class="mdc-button__ripple"></span>
        <%= string.update %>
    </button>
    <button class="mdc-button mdc-button--unelevated" id="delete_button" type="submit">
        <span class="mdc-button__ripple"></span>
        <%= string.delete %>
    </button>
    <button class="mdc-button mdc-button--unelevated" id="back_button" type="submit">
        <span class="mdc-button__ripple"></span>
        <%= string.back %>
    </button>
</section>
<%- include('footer'); -%>
</body>
</html>
