<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>
    <title><%= string.article_title %></title>
    <script>
		$(document).ready(() => {
			$.post(`/article`, (body) => {
				console.log(body)
				if (body.length === 1 && body[0].id === 0)
					$("#article_box").html("<h2> <%= string.contents_null %> </h2>")
				else {
					let html = ""
					for (article of body) {
						html += `<a href="/article/read/${article.id}"> <h2>${article.id}. ${article.title}</h2> </a>`
					}
					$("#article_box").html(html)
				}
			})
		})
    </script>
</head>

<body>

<%- include('header'); -%>
<h1> <%= string.article %></h1>
<div id="article_box"></div>
<%- include('footer'); -%>
</body>
</html>
