<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>
    <%- quill %>
    <title><%= string.article_title_create %></title>

    <script>
		const isUpdate = '<%= id %>' !== '0'
		$(document).ready(() => {
			const editField = new Quill('#edit_contents', {
				modules: {
					toolbar: [
						['bold', 'italic', 'underline'],
						['link', 'blockquote', 'image'],
						[{list: 'ordered'}, {list: 'bullet'}]
					]
				},
				placeholder: '기사 입력',
				theme: 'snow'
			})
			if (isUpdate) {
				$("#edit_post_button").text("<%= string.update %>")
				$('#edit_form').attr('action', "/article/update/<%= id %>")
				$.post(`/article/read/<%= id %>`, (body) => {
					$(document).attr("title", `<%- string.article_title_update %> > ${body.title}`)
					$("#edit_input_title").val(body.title)
					editField.setContents(body.contents)
				})
			}
			$("#edit_form").submit((event) => {
				if (event.key === "enter") {
					event.preventDefault()
					return false
				}
				if (editField.getLength() <= 1) {
					alert("내용을 입력해주세요.")
					return false
				}
				const contents = document.querySelector('input[name=contents]')
				contents.value = JSON.stringify(editField.getContents())
				return true
			})
		})
    </script>
</head>

<body>
<%- include('header'); -%>
<h1> <%= string.article %></h1>
<form action="/article/create" id="edit_form" method="post">
    <div class="" id="edit_title_box">
        <h2><%= string.title_input %></h2>
        <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--outlined"
             id="edit_input_title_box">
            <span class="mdc-text-field__ripple"></span>
            <input class="mdc-text-field__input edit-textfield" id="edit_input_title" maxlength="64"
                   minlength="2" name="title" placeholder="<%= string.title_input %>" required>
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
    </div>
    <div class="edit-box" id="edit_contents_box">
        <h2> <%= string.contents_input %> </h2>
        <input name="contents" type="hidden">
        <article class="contents" id="edit_contents"></article>
    </div>
    <div class="edit-box" id="edit_button_box">
        <button class="mdc-button mdc-button--unelevated" id="edit_post_button" type="submit">
            <span class="mdc-button__ripple"></span>
            <%= string.upload %>
        </button>
    </div>
</form>
<%- include('footer'); -%>
</body>
</html>
