<footer id="main_footer">
    <div id=footer_layout>
        <div id=footer_logo><img src="/images/footer/logo.png"></div>
        <div id=detail>
            <div class=detail_component>
                <span class=footer_title><%= fstring.about_title %></span>
                <div class=footer_category>
                    <span><a href="/about"><%= fstring.about_company %></a></span>
                </div>
            </div>
            <div class=detail_component>
                <span class=footer_title><%= fstring.feedback_title %></span>
                <div class=footer_category>
                    <span><%= fstring.feedback_faq %></span>
                    <span><%= fstring.feedback_chatting %></span>
                </div>
            </div>
            <div class=detail_component>
                <span class=footer_title><%= fstring.policy_title %></span>
                <div class=footer_category>
                    <span><%= fstring.policy_privacy %></span>
                    <span><%= fstring.policy_terms %></span>
                </div>
            </div>
            <div class=detail_component>
                <span class=footer_title><%= fstring.account_title %></span>
                <div class=footer_category>
                    <span><%= fstring.account_mypage %></span>
                    <span><%= fstring.account_mystyle %></span>
                    <span><%= fstring.account_order %></span>
                </div>
            </div>
            <div class="mdc-menu mdc-menu-surface">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">A Menu Item</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">Another Menu Item</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
