<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>
    <title><%= string.main_title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>

<body>

<%- include('header'); -%>

<div class="mdc-typography--headline2"><%= string.title %></div>
<div class="main_container">
    <div class="table_container">
        <%- include('card', {type: "main_card1", title: string.api_desc, link: "/api"}) %>
        <%- include('card', {type: "main_card2", title: string.auth_test, link: "/account"}) %>
    </div>
</div>

<%- include('footer'); -%>
</body>
</html>
