<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>
    <title><%= string.main_title %></title>
    <script>
		$(document).ready(() => {
			// 기사 사이즈 동적 변경
			$(".main_article").height(($(window).height() - $("header").height() - $("#my_style").height() - 8) * 0.9)
			$(window).on('resize', function () {
				const win = $(this)
				$(".main_article").css({maxHeight: (win.height() - $("header").height() - $("#my_style").height() - 8) * 0.9 + "px"})
			})
		})
    </script>
</head>

<body>

<%- include('header'); -%>

<div class="magazine">
    <img class="main_article" id="main" src="/images/home/main_image.png">
</div>
<div id="my_style">
    <h1><%= string.select_style %></h1>
    <div class=select_style>
        <img id=point_left src="/images/home/left.png">
        <img id="style" src="/images/home/group.png">
        <img id=point_right src="/images/home/right.png">
    </div>
</div>

<img id=bar src="/images/home/rectangle.png">
<div id="recommend">
    <h1><%= string.recommend_style %></h1>
    <h3>완성하자</h3>
</div>
<%- include('footer'); -%>
</body>
</html>
