<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>

    <title><%= string.title %></title>
    <script>
		$(document).ready(() => {

		})
    </script>
</head>

<body>

<%- include('header'); -%>

<div class="main_container">
    <div class="table_container">
        <%- include('card', {type: "main_card1", title: string.product, link: "/input/product"}) %>
        <%- include('card', {type: "main_card2", title: string.coordination, link: "/input/coordination"}) %>
        <%- include('card', {type: "main_card3", title: string.article, link: "/input/article"}) %>
        <%- include('card', {type: "main_card4", title: string.init_product, link: "/input/product/clear"}) %>
        <%- include('card', {type: "main_card5", title: string.init_coordination, link: "/input/coordination/clear"}) %>
        <%- include('card', {type: "main_card6", title: string.init_article, link: "/input/article/clear"}) %>
        <%- include('card', {type: "main_card7", title: string.ready, link: "/input/ready"}) %>
        <%- include('card', {type: "main_card8", title: string.init_all, link: "/input/clear"}) %>
    </div>
</div>

<%- include('footer'); -%>
</body>
</html>