<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>

    <title><%= string.name_title %></title>
    <script>
		$(document).ready(() => {

		})
    </script>
</head>

<body>

<%- include('header'); -%>

<div class="main_container">
    <div class="table_container">
        <%- include('card', {type: "main_card1", title: "Product", link: "/input/product"}) %>
        <%- include('card', {type: "main_card2", title: "Coordination", link: "/input/coordination"}) %>
        <%- include('card', {type: "main_card3", title: "Article", link: "/input/article"}) %>
        <%- include('card', {type: "main_card4", title: "Init product", link: "/input/product/clear"}) %>
        <%- include('card', {type: "main_card5", title: "Init coordination", link: "/input/coordination/clear"}) %>
        <%- include('card', {type: "main_card6", title: "Init article", link: "/input/article/clear"}) %>
        <%- include('card', {type: "main_card7", title: "Ready", link: "/input/ready"}) %>
        <%- include('card', {type: "main_card8", title: "Init ALL", link: "/input/clear"}) %>
    </div>
</div>

<%- include('footer'); -%>
</body>
</html>